@model IEnumerable<VillaNueva_Habitat.Models.cat_estatus_proyecto>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="card">
    <div class="card-header">
        Editar Registro
    </div>
    <div class="card-body">


        <form asp-action="Edit" asp-controller="cat_estatus_proyectoController" method="post">

            <input asp-for="IdContacto" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">Id</label>
                <input asp-for="id" type="text" class="form-control">
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">estatus</label>
                <input asp-for="estatus" type="text" class="form-control">
                <span asp-validation-for="estatus" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" asp-controller="cat_estatus_proyectoController" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>
