
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row form-group">
    <div class="form-group col-md-6">
        <input type="text" name="Telefono_1" class="form-control" autocomplete="off" placeholder="Teléfono 1" />
    </div>
    <div class="form-group col-md-6">
        <input type="text" name="Telefono_2" class="form-control" autocomplete="off" placeholder="Teléfono 2" />
    </div>
</div>

